.layout__menu-toggle{
  display: none;
}

@media (max-width: 1800px) {

  body{
    padding: 0;
  }

  .layout{
    min-width: 1600px;
    width: 90%;
  }
}


@media (max-width: 1490px) {

  .layout{
    min-width: 1290px;
    width: 90%;
  }
}


min-width: 1600px;

@media (max-width: 1320px) {
 
  .layout{
    width: 89%;
    margin-left: 3rem;
  }
}

@media(max-width: 1160px){

  .layout {
    width: 85%;
    margin-left: 4rem;
    overflow-x: hidden;
  }

  .certificates__certificate {
    flex-basis: 100%;
  }

}

@media(max-width: 1060px){

  body {
    background-image: none;
    position: static;
  }

  .layout{
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    border-radius: 0;
    grid-template-areas: "content";
    grid-template-columns: 100%;
    overflow-x: hidden;
  }


  .layout__aside{
    z-index: 999;
    display: block;
    position: absolute;
    max-width: 33rem;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: auto;
    transition: all 300ms ease-in-out;
    border-radius: 0;  

    margin-right: -100%;
    opacity: 0;

  }

  .layout__menu-toggle{
    z-index: 9999;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 4.8rem;
    height: 4.8rem;
    line-height: 4.8rem;
    font-size: 2.5rem;
    text-align: center;
    background-color: var(--color-secondary);
    color: var(--color-principal);
    border-radius: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }


  .menu-toggle__icon{
    color: var(--color-principal);
    display: block;
    position: absolute;
    top: 25%;
    left: 28%;
    transition: all 300ms ease-in-out;
  }

  .fa-bars{
    opacity: 1;
  }

  .fa-xmark{
    opacity: 0;
  }


  .layout__aside--visible{
    width: 100%;
    margin-right: 0;
    opacity: 1;
  }

  .layout__aside--hidden{
    margin-right: -100%;
    opacity: 0;
  }


  /* CONTENT*/

  .layout__content {
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: transparent;
  }

  .layout__menu {
    position: static;
  }


  .user-info__container-imagen{
    width: 13rem;
    margin-top: 3rem;
    display: inline-block
  }

  .user-info__name{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .user-info__job{
    font-size: 1.2rem;
  }

  .layout__menu{
    position: static;
    margin: 3rem 0;
  }

  .menu__list{
    position: static;
    width: 100%;
    background-color: var(--color-secondary);
    box-shadow: none;
    margin-left: 0;
    padding: 0;
    min-height: auto;

  }

  .menu__link{
    text-decoration: none;
    display: block;
    padding: 1.2rem 0;

  }

  .menu__icon{
    display: none;
  }

  .menu__overlay{
    position: static;
    opacity: 0.7;
    margin-top: 0;
    padding: 0;
    box-shadow: none;
    font-size: 1.6rem;
  }

  .menu__link--active .menu__overlay{
    opacity: 1;
  }

  .user-links__social{
    margin-top: 0;
  }

  .content__page {
    border-radius: 0;
    height: 100vh;
  }


  .user-info__footer{
    position: static;
    padding-bottom: 2rem;
  }
}


@media(max-width: 800px){

  .reviews__container{
    flex-direction: column;
  }

  .reviews__review{
    border-top: 6rem;
    flex-basis: 100%;
  }

  .prices__container{
    flex-direction: column;

  }

  .prices__box{
    flex-basis: 100%;
    margin-top: 0;
  }

  .prices__box:last-child{
    margin-top: 2rem;
  }

  .gallery__item{
    flex-basis: 50%;
  }

  .articles__article{
    flex-basis: 100%;
  }
}

/* Media query de 585 */

@media(max-width: 585px){

  .about__personal-info{
    flex-direction: column;
  }

  .personal-info__data{
    flex-basis: 100%;
    padding: 0;
    margin-top: 2rem;
  }
  
  .services__container{
    flex-direction: column;

  }

  .services__service{
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
  }

  /* CURRICULUM */

  .resumen__container{
    flex-direction: column;
  }
  
  .resumen_right{
    flex-basis: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }

   /* CONTACT */

   .contact__container{
    flex-direction: column;
   }
}


/* Media query de 480 */

@media(max-width: 480px){
  
  .page__name{
    font-size: 4.8rem;
    line-height: 5.6rem;
    text-align: center;
  }

  .certificate__logo{
    width: 25rem;
  }

  .gallery__item{
    flex-basis: 100%;
  }

  /* CONTACT */

  .form__container{
    display: flex;
    flex-direction: column;
  }

  .form__left{
    flex-basis: 100%;
    margin-right: 0;
  }

  .form__right{
    flex-basis: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}